@model  Training.Portals.Models.User
@{
    ViewBag.Title = "Home Page";
}
<h1>@ViewBag.a.Role</h1>
<table>

    <tr>
        <a href="~/Admin/AddNew">Add New </a>
    </tr>


    <tr>

        <td>

            <table border="0" cellpadding="4" cellspacing="1" bgcolor="#D8D8D8" class="main_txt">

                <tr>

                    <td width="100" align="center" class="header_bg">
                        <a href="">
                            Name
                        </a>
                    </td>


                    <td width="80" align="center">
                        <a href="">
                            Login
                        </a>
                    </td>


                    <td width="80" align="center">
                        <a href="">
                            Password
                        </a>
                    </td>

                    <td width="80" align="center">
                        <a href="">
                            Role
                        </a>
                    </td>

                   


                    <td width="120" align="center" class="header_bg">Action</td>

                </tr>


                @{
                    string COLOR1 = "#ffffff";
                    string COLOR2 = "#f1f1f1";
                    string bgcolor = "#ffffff";
                }

                @foreach (var x in ViewBag.accountinfo)
                {
                    bgcolor = bgcolor == COLOR1 ? COLOR2 : COLOR1;


                    <tr bgcolor="@bgcolor">


                        <td>
                            @x.Name
                        </td>


                        <td>
                            @x.Login
                        </td>
                        
                        <td>
                            @x.Password
                        </td>

                        <td>
                            @x.Role
                        </td>
                     


                        <td>
                            <a href="~/Admin/Delete/@x.UserId">Delete Account </a>
                            <a href="~/Admin/AddNew/@x.UserId">Edit Account </a>
                        </td>

                    </tr>

                }
            </table>

        </td>

    </tr>

</table>
